html {
  height: 100%;
  width: 100%;
}

.ma{
  display:flex;
  flex-direction: row;
  text-align: center;
  gap: 2rem
}


.ab{
  border: 3px solid black;
  background-color: red;
  height: 300px;
  width: 300px;
   display: flex;
  justify-content: center;
  align-items: center;
  
}

.cd{
  border: 3px solid black;
  background-color: green;
  height: 300px;
  width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ef{
  border: 3px solid black;
  background-color: blue;
  height: 300px;
  width:300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
